.posts
{
    border: 2px solid!important;
    border-color: rgb(208, 204, 201)!important;
    border-radius: 1px;
    background-color: #f8f9fa;
    padding: 2px 8px 2px 8px!important;
    margin-top: 30px;
    width: 80%!important;
    margin: auto;
    border-top: none!important;
}
.border-top
{
    border-top: 2px solid!important;
    margin: 0 15% 0 15%;
    border-color: rgb(208, 204, 201)!important;
}
.post-text
{
    border: none!important;
    background-color: transparent;
    /*resize: none;*/
    outline: none;
    margin-bottom: 0!important;
    font-size: 18px;
}
.form-post
{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0 !important;
    width: 50%!important;
    margin: auto;
    margin-bottom: 0px;
    border-bottom: 2px solid!important;
    border-color: rgb(208, 204, 201)!important;
}

@media (max-width:1390px)
{
    .posts
    {
        width: 60%!important;
    }
    .form-post
    {
        width: 58%!important;

    }
}
@media (max-width:1700px)
{
    .posts
    {
        width: 65%!important;
    }
    .form-post
    {
        width: 60%!important;

    }
}
@media (max-width:2000px)
{
    .posts
    {
        width: 89%!important;
    }
    .form-post
    {
        width: 53%!important;

    }
}
@media (max-width:500px)
{
    .posts
    {
    
        width: 90%!important;
    }
    .form-post
    {
        width: 67%!important;

    }
}

.fa-heart:hover
{
    cursor: pointer;
}
.fa-heart
{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes show
{
    0%
    {
        opacity: 0;

    }

    100%
    {
        opacity: 1;
    }

}

@keyframes hide
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.icon
{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    outline: none!important;
    background-color: #f8f9fa;
    border: none;
    color: rgb(168, 164, 161);
    border-color: rgb(168, 164, 161);
    border: 1px solid;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.icon:hover
{
    background-color: rgb(168, 164, 161);
    color: #f8f9fa;
}
b
{
    color:rgb(108, 104, 101)!important;
    margin-left: 10px!important;
}