{% extends "network/layout.html" %}

{% block body %}
<h1>{{sender}}</h1>
    {% if posts%}
    <div class="border-top">
    {% for post in posts %}
    <div class="row">
        <div class="container">
            <div class="posts">
                <a href="/Profile/{{post.sender.username}}"><p>{{post.sender.username}}</p></a>
                <div class=>{{post.timestamp}}</div>
                <p>{{post.post}}</p>
                {% if request.user in post.likes.all %}
                    <div><button class="icon"><i id="{{post.id}}" data-post_id="{{post.id}}" class="fa-solid fa-heart like"></i></button><b>{{post.likes.all.count}}</b></div>
                {% elif  request.user == post.sender%}

                {% else %}
                    <div><button class="icon"><i id="{{post.id}}" data-post_id="{{post.id}}" class="fa-regular fa-heart like"></i></button><b>{{post.likes.all.count}}</b></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo First</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">Page {{posts.number}} of {{posts.paginator.num_pages}}</a></li>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{posts.paginator.num_pages}}">Last &raquo</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div>
    {% else %}
        <h2 class="text-center">People you follow haven't posted yet.</h2>
    {% endif %}
    
{% endblock %}