{% extends "network/layout.html" %}

{% block body %}
<div class="row">
    <div class="container form-post">
        <form method="post" action="{% url 'posting' %}">
            {% csrf_token %}
            <textarea cols="100" rows="5" name="post" placeholder="O que está acontecendo?" class="post-text" type="text" autocomplete="off"></textarea>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <input class="btn btn-outline-secondary" type="submit">
                </div>
            </div>
        </form>
    </div>
</div>
    {% if posts%}
    {% for post in posts %}
    <div class="row">
        <div class="container">
            <div class="posts">
                <a href="/Profile/{{post.sender.username}}"><p>{{post.sender.username}}</p></a>
                <p>{{post.post}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="paginator">
    {% if posts.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{venues.number}} of {{venues.paginator.num_pages}}
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{venues.paginator.num_pages}}">Last &raquo</a>
    {% endif %}
    </div>
{% endif %}
{% endblock %}