{% extends "network/layout.html" %}

{% block body %}
<div class="row">
    <div class="container form-post">
        <form method="post" action="{% url 'posting' %}">
            {% csrf_token %}
            <textarea cols="70" rows="5" name="post" placeholder="O que está acontecendo?" class="post-text" type="text" autocomplete="off"></textarea>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <input class="btn btn-outline-secondary" type="submit">
                </div>
            </div>
        </form>
    </div>
</div>
    {% if posts%}
    <div class="border-top">
    {% for post in posts %}
    <div class="row">
        <div class="container">
            <div class="posts">
                <h5><a href="/Profile/{{post.sender.username}}"><p>{{post.sender.username}}</p></a></h5>
                <div class=>{{post.timestamp}}</div>
                <p id="{{post.id}}">{{post.post}}</p>
                {% if request.user in post.likes.all %}
                    <div><button class="icon"><i id="like{{post.id}}" data-post_id="{{post.id}}" class="fa-solid fa-heart like"></i></button><b>{{post.likes.all.count}}</b></div>
                {% elif  request.user == post.sender%}
                    <div><button data-id_change="{{post.id}}" class="change"><i class="fa-solid fa-pen"></button></i></div>
                {% else %}
                    <div><button class="icon"><i id="like{{post.id}}" data-post_id="{{post.id}}" class="fa-regular fa-heart like"></i></button><b>{{post.likes.all.count}}</b></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo First</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">Page {{posts.number}} of {{posts.paginator.num_pages}}</a></li>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{posts.paginator.num_pages}}">Last &raquo</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div>
    {% endif %}
{% endblock %}