{% extends "network/layout.html" %}
{% load static %}
{% block title %}{{user_profile.username}}{% endblock %}
{% block body %}
    <h3>{{user_profile.username}}</h3>
    <p>{{user_profile.email}}</p>
    <p>Following:{{user_profile.following.all.count}}</p>
    <p>Followers:{{followers.count}}</p>
    {% if request.user in followers %}
        <button id="follow" data-user="{{user_profile.id}}" type="submit" class="btn btn-outline-danger">Unfollow</button>
    {% elif request.user == user_profile %}

    {% else %}
        <button id="follow" data-user="{{user_profile.id}}" type="submit" class="btn btn-outline-secondary">Follow</button>
    {% endif %}
    <div class="border-top">
    {% if posts%}
    {% for post in posts %}
    <div class="row">
        <div class="container">
            <div class="posts">
                <a href="/Profile/{{post.sender.username}}"><p>{{post.sender.username}}</p></a>
                <p>{{post.post}}</p>
                {% if request.user in post.likes.all %}
                    <div class="icon"><i id="{{post.id}}" data-post_id="{{post.id}}" class="fa-solid fa-heart like"></i></div>
                {% else %}
                    <div class="icon"><i id="{{post.id}}" data-post_id="{{post.id}}" class="fa-regular fa-heart like"></i></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo First</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">Page {{posts.number}} of {{posts.paginator.num_pages}}</a></li>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{posts.paginator.num_pages}}">Last &raquo</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div>
    {% endif %}
{% endblock %}