{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
{% endif %}
{% if newbid %}
        <div class="alert alert-success">{{ newbid }}</div>
{% endif %}
{% if Product %}
<form action={% url 'watchlist'%} method="post" >
        {% csrf_token %}
        <input class="form-control" style="display: none;" type="text"  name="product_id" value={{Product.id}}>
        <input class="btn btn-primary" type="submit" value="Add to Watchlist">
</form>
    {% if Product.status == "disabled"%}
        <h1>{{Product.userwining}} win this listing.</h1>
        <div class="text-muted">
    {% endif %}
    <h2 class="d-flex justify-content-center">{{Product.name}}</h2>
    <img class="img-thumbnail mx-auto d-block" src={{Product.img}}>
    <p class="d-flex justify-content-center"><b>Price: ${{Product.current_bid}}</b></p>
    <p class="blockquote lead">{{ Product.about}}</p>
    <form action={% url 'product' Product.id%} method="post">
    <p>{{Product.bids_count}} bid(s) made so far.</p>
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="number" step="0.01" name="newbid" placeholder="Bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Bid">
    </form>
    <div class="d-flex justify-content-center">
        <ul>
            <h4>Details</h4>
            <li>Creator: {{Product.creator}}</li>
            <li>Time created: {{Product.time_created}}</li>
        </ul>
        </div>
    {% if Product.status == "disabled"%}
        </div>
    {% endif %}
    
    {% if Product.creator == user%}
    <form action={% url 'disable' Product.id%} method="post">
            {% csrf_token %}
            <input name="delete" style="display: none;" type="text" value={{Product.creator}}>
            <input class="btn btn-danger" type="submit" value="Disable listing">
    </form>
    {% endif %}
{% endif %}
{% endblock %}